<h1>La liste des Membres</i></h1>
<br>
<% @users.each do |user| %>
  <h6><b><%= user.name %></b></h6>
  <p><i><%= user.email %></i></p>
  <p>
    <a href="<%= user_path(user.id) %>" class="btn btn-primary btn-sm">
    voir le Membre</a>
  </p>
<% end %>
<br>
<p>
  <a href="<%= new_user_path %>" class="btn btn-success">
    Creer un Membre</a>
</p>
