<h1><%= @user.name %></h1>
<p><%= @user.email %></p>
<br>
<p>
  <a href="<%= edit_user_path %>" class="btn btn-primary">Editer le Membre</a>
</p>
<br>
<p>
  <a href="<%= users_path %>" class="btn btn-primary">Retour vers les Membres</a>
</p>
